$TTL 1D
@	IN SOA	root.ocp4.example.com. bastion.ocp4.example.com. (
					0	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
@	IN	NS	bastion.ocp4.example.com.
@	IN	PTR	ocp4.example.com.
bastion.ocp4.example.com.	IN	A	192.168.122.252
bastion.ocp4.example.com.	IN	A	192.168.122.2
servera.ocp4.example.com.	IN	A	192.168.122.3
serverb.ocp4.example.com.	IN	A	192.168.122.4
serverc.ocp4.example.com.	IN	A	192.168.122.5
serverd.ocp4.example.com.	IN	A	192.168.122.6
servere.ocp4.example.com.	IN	A	192.168.122.7
ceph01.ocp4.example.com.	IN	A	192.168.122.8
ceph02.ocp4.example.com.	IN	A	192.168.122.9
ceph03.ocp4.example.com.	IN	A	192.168.122.10
gitlab-ce.ocp4.example.com.	IN	A	192.168.122.11
bootstrap.ocp4.example.com.	IN	A	192.186.122.15
master1.ocp4.example.com.	IN	A	192.186.122.16
master2.ocp4.example.com.	IN	A	192.186.122.17
master3.ocp4.example.com.	IN	A	192.186.122.18
worker1.ocp4.example.com.	IN	A	192.186.122.19
worker2.ocp4.example.com.	IN	A	192.186.122.20
worker3.ocp4.example.com.	IN	A	192.186.122.21
api.ocp4.example.com.		IN	A	192.186.122.250
api-int.ocp4.example.com.	IN	A	192.186.122.250
*.apps.ocp4.example.com.	IN	A	192.186.122.251

252 	IN	PTR 	bastion.ocp4.example.com.
252 	IN	PTR 	classroom.ocp4.example.com.
2 	IN	PTR	bastion.ocp4.example.com.
3 	IN	PTR	servera.ocp4.example.com.
4 	IN	PTR	serverb.ocp4.example.com.
5 	IN	PTR	serverc.ocp4.example.com.
6 	IN	PTR	serverd.ocp4.example.com.
7 	IN	PTR	servere.ocp4.example.com.
8	IN	PTR	ceph01.ocp4.example.com.
9	IN	PTR	ceph02.ocp4.example.com.
10	IN	PTR	ceph03.ocp4.example.com.

11	IN	PTR	gitlab-ce.ocp4.example.com.

15	IN	PTR	bootstrap.ocp4.example.com.
16	IN	PTR	master1.ocp4.example.com.
17	IN	PTR	master2.ocp4.example.com.
18	IN	PTR	master3.ocp4.example.com.

19	IN	PTR	worker1.ocp4.example.com.
20	IN	PTR	worker2.ocp4.example.com.
21	IN	PTR	worker3.ocp4.example.com.
250	IN	PTR	api.ocp4.example.com.
250	IN	PTR	api-int.ocp4.example.com.

